*{
    margin: 0;
    padding:0;
}

.container {
    padding: 10% 10%;
}

/*NAV BAR */
nav {
    background:#005eb8;
    padding:10px;
}

nav a {
    color:white;
    text-decoration:none;
}
/*FORM */
input{
    background:#e8edee;
    border: #e8edee 2px solid;
    padding:0.5rem;
    margin:1% 1% 0.1% 0%;
    font-size:1rem;
}

input:focus {
    outline:none;
}

input[type="submit"] {
    border:none;
    background:#009879;
    color:white;
}
/*ERROR HANDLING */
.error-notice{
    background:rgba(129, 0, 0, 0.575);
    color:white;
    padding:15px;
    text-align: center;
    
}

.close {
    float:right;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    input[type='text'],
    input[type='password'] {
      width:100%;
    }

    .container {
        padding: 5% 1%;
    }
  }